# Flight Data December 2018 - May 2022

---

## Clean Flight Data for Capstone Analysis 
#### Data was downloaded from https://zenodo.org/record/6797232#.YtcBXXbMKUkRecreate this data will be later joined to a airport code directory to create an interactive map of flight routes with origin and destiation airports included within Tableau.


#### this data is from a swiss data base

### Notebook Objectives

- Clean one month of flight data removing nulls, renaming columns plus additional cleaning steps shown below.
- Explore data with DataFrames.
- Write code to loop through all months of data.

### Load Seaborn, Pandas, as well as other Libaries, and with the dataset called "flightlist_20211201_20211231" 

---

In [50]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math
import seaborn as sns

## Used to Export Data into PostgreSQL Local Database.

---

In [8]:
import psycopg2
import sqlalchemy
from sqlalchemy import create_engine

In [ ]:
#engine = create_engine('postgresql://postgres:analyticsga@localhost:5432/Flight_Capstone')

#### Commented out code was run one time to install onto computer. It is listed in case the user would like to follow along with this notebook and data exploration. Remove the # symbol and run the cell 

---

In [ ]:
#pip install psycopg2
#pip install sqlalchemy

## Read in Airports CSV

---

In [9]:
## Latin1 accomodates other languages with accents
airports = pd.read_csv('all_airports(Cleaned).csv', encoding = 'latin1')

In [10]:
airports.dtypes

Airport_Type     object
Airport_Name     object
Country          object
Airport_Code     object
Longitude       float64
Latitude        float64
Country_Name     object
dtype: object

## Filter down to large, medium and small airports using the field 'Airport_Type'

---

In [11]:
airports = airports[(airports["Airport_Type"] == 'large_airport') | (airports["Airport_Type"] == 'small_airport') | (airports["Airport_Type"] == 'medium_airport')]

In [12]:
airports.head(2)

,Airport_Type,Airport_Name,Country,Airport_Code,Longitude,Latitude,Country_Name
0,small_airport,Utirik Airport,MH,UTK,169.852005,11.222000,Marshall Islands
1,small_airport,Ocean Reef Club Airport,US,OCA,-80.274803,25.325399,United States

## Read in Flight CSV and Inspect Data. 

#### Remove columns that are not needed for analysis as well as change datatypes, drop nulls, rename columns and other steps

---

In [13]:
flights = pd.read_csv('data/flightlist_20190101_20190131.csv')

C:\Users\ryano\AppData\Local\Temp\ipykernel_12844\230900681.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  flights = pd.read_csv('data/flightlist_20190101_20190131.csv')

In [14]:
flights.shape

(2145469, 16)

In [15]:
flights.dtypes

callsign         object
number           object
icao24           object
registration     object
typecode         object
origin           object
destination      object
firstseen        object
lastseen         object
day              object
latitude_1      float64
longitude_1     float64
altitude_1      float64
latitude_2      float64
longitude_2     float64
altitude_2      float64
dtype: object

In [16]:
flights.head(2)

,callsign,number,icao24,registration,typecode,origin,destination,firstseen,lastseen,day,latitude_1,longitude_1,altitude_1,latitude_2,longitude_2,altitude_2
0,HVN19,NaN,888152,NaN,NaN,YMML,LFPG,2018-12-31 00:43:16+00:00,2019-01-01 04:56:29+00:00,2019-01-01 00:00:00+00:00,-37.659485,144.804421,304.8,48.995316,2.610802,-53.34
1,CCA839,NaN,780ad1,NaN,NaN,YMML,LEBL,2018-12-31 00:53:08+00:00,2019-01-01 06:01:42+00:00,2019-01-01 00:00:00+00:00,-37.692123,144.841997,304.8,41.036124,2.063557,1112.52

In [17]:
flights['callsign'].nunique()

185085

In [18]:
flights.isnull().sum()

callsign              0
number          2088535
icao24                0
registration     242049
typecode         453296
origin           653663
destination      550765
firstseen             0
lastseen              0
day                   0
latitude_1            0
longitude_1           0
altitude_1            0
latitude_2           51
longitude_2          51
altitude_2        60293
dtype: int64

## Remove the first letter in origin and destination columns

---

In [19]:
flights['origin'] = flights['origin'].str[1:]

In [20]:
flights['destination'] = flights['destination'].str[1:]

In [21]:
# use similar format to keep

In [22]:
flights.head(2)

,callsign,number,icao24,registration,typecode,origin,destination,firstseen,lastseen,day,latitude_1,longitude_1,altitude_1,latitude_2,longitude_2,altitude_2
0,HVN19,NaN,888152,NaN,NaN,MML,FPG,2018-12-31 00:43:16+00:00,2019-01-01 04:56:29+00:00,2019-01-01 00:00:00+00:00,-37.659485,144.804421,304.8,48.995316,2.610802,-53.34
1,CCA839,NaN,780ad1,NaN,NaN,MML,EBL,2018-12-31 00:53:08+00:00,2019-01-01 06:01:42+00:00,2019-01-01 00:00:00+00:00,-37.692123,144.841997,304.8,41.036124,2.063557,1112.52

## Joining Airports and Flights Tables

---

#### Merging on origin and renaming (left in this case refers to the flights table and right to the airports table)

In [23]:
flights = flights.merge(airports, left_on='origin', right_on='Airport_Code')

## Rename Columns

---

In [24]:
flights.rename(columns = {'callsign' : 'Airline', 'icao24' : 'Aircraft_ID', 'typecode' : 'Aircraft_type', 
                          'origin' : 'Origin_Airport_Code', 'destination' : 'Destination_Airport_Code',
                          'firstseen' : 'Departure_Time', 'lastseen' : 'Arrival_Time',
                          'day' : 'Date', 'Airport_Type' : 'Origin_Airport_Type', 
                          'Airport_Name' : 'Origin_Airport_Name', 'Country_Name' : 'Origin_Country_Name',
                          'Longitude' : 'Origin_Airport_Longitude', 'Latitude' : 'Origin_Airport_Latitude'}, inplace=True)

In [25]:
flights.head(1)

,Airline,number,Aircraft_ID,registration,Aircraft_type,Origin_Airport_Code,Destination_Airport_Code,Departure_Time,Arrival_Time,Date,...,latitude_2,longitude_2,altitude_2,Origin_Airport_Type,Origin_Airport_Name,Country,Airport_Code,Origin_Airport_Longitude,Origin_Airport_Latitude,Origin_Country_Name
0,HVN19,NaN,888152,NaN,NaN,MML,FPG,2018-12-31 00:43:16+00:00,2019-01-01 04:56:29+00:00,2019-01-01 00:00:00+00:00,...,48.995316,2.610802,-53.34,small_airport,Southwest Minnesota Regional Airport - Marshal...,US,MML,-95.821899,44.4505,United States

#### Merging on destination

In [26]:
flights = flights.merge(airports, left_on='Destination_Airport_Code', right_on='Airport_Code')

In [27]:
flights.shape

(619195, 30)

In [28]:
flights.head(1)

,Airline,number,Aircraft_ID,registration,Aircraft_type,Origin_Airport_Code,Destination_Airport_Code,Departure_Time,Arrival_Time,Date,...,Origin_Airport_Longitude,Origin_Airport_Latitude,Origin_Country_Name,Airport_Type,Airport_Name,Country_y,Airport_Code_y,Longitude,Latitude,Country_Name
0,CCA839,NaN,780ad1,NaN,NaN,MML,EBL,2018-12-31 00:53:08+00:00,2019-01-01 06:01:42+00:00,2019-01-01 00:00:00+00:00,...,-95.821899,44.4505,United States,medium_airport,Erbil International Airport,IQ,EBL,43.9632,36.237598,Iraq

#### Inspecting how many 'Airlines' exist after initial cleaning.

In [29]:
flights['Airline'].nunique()

74782

## Rename Destination Columns That Were Created From the Inner Join

---

In [30]:
flights.rename(columns = {'Airport_Type' : 'Destination_Airport_Type', 
                          'Airport_Name' : 'Destination_Airport_Name', 'Country_Name' : 'Destination_Country_Name',
                          'Longitude' : 'Destination_Airport_Longitude', 'Latitude' : 'Destination_Airport_Latitude'}, inplace=True)

In [31]:
flights.head(1)

,Airline,number,Aircraft_ID,registration,Aircraft_type,Origin_Airport_Code,Destination_Airport_Code,Departure_Time,Arrival_Time,Date,...,Origin_Airport_Longitude,Origin_Airport_Latitude,Origin_Country_Name,Destination_Airport_Type,Destination_Airport_Name,Country_y,Airport_Code_y,Destination_Airport_Longitude,Destination_Airport_Latitude,Destination_Country_Name
0,CCA839,NaN,780ad1,NaN,NaN,MML,EBL,2018-12-31 00:53:08+00:00,2019-01-01 06:01:42+00:00,2019-01-01 00:00:00+00:00,...,-95.821899,44.4505,United States,medium_airport,Erbil International Airport,IQ,EBL,43.9632,36.237598,Iraq

## Drop Columns That are Deemed not Necessary

---

In [32]:
# list columns to use as reference for drops
flights.columns

Index(['Airline', 'number', 'Aircraft_ID', 'registration', 'Aircraft_type',
       'Origin_Airport_Code', 'Destination_Airport_Code', 'Departure_Time',
       'Arrival_Time', 'Date', 'latitude_1', 'longitude_1', 'altitude_1',
       'latitude_2', 'longitude_2', 'altitude_2', 'Origin_Airport_Type',
       'Origin_Airport_Name', 'Country_x', 'Airport_Code_x',
       'Origin_Airport_Longitude', 'Origin_Airport_Latitude',
       'Origin_Country_Name', 'Destination_Airport_Type',
       'Destination_Airport_Name', 'Country_y', 'Airport_Code_y',
       'Destination_Airport_Longitude', 'Destination_Airport_Latitude',
       'Destination_Country_Name'],
      dtype='object')

In [33]:
flights.drop(columns =['number', 'registration', 'altitude_1', 'altitude_2', 'latitude_1', 'longitude_1','latitude_2', 'longitude_2', 'Country_x', 'Airport_Code_x', 'Country_y', 'Airport_Code_y'], axis=1, inplace=True)

In [34]:
flights.head(1)

,Airline,Aircraft_ID,Aircraft_type,Origin_Airport_Code,Destination_Airport_Code,Departure_Time,Arrival_Time,Date,Origin_Airport_Type,Origin_Airport_Name,Origin_Airport_Longitude,Origin_Airport_Latitude,Origin_Country_Name,Destination_Airport_Type,Destination_Airport_Name,Destination_Airport_Longitude,Destination_Airport_Latitude,Destination_Country_Name
0,CCA839,780ad1,NaN,MML,EBL,2018-12-31 00:53:08+00:00,2019-01-01 06:01:42+00:00,2019-01-01 00:00:00+00:00,small_airport,Southwest Minnesota Regional Airport - Marshal...,-95.821899,44.4505,United States,medium_airport,Erbil International Airport,43.9632,36.237598,Iraq

## Do Another Join Using the Newly Merged Table Above with 'airline_codes_and_name.csv' 

---

#### First step read in the 'airline_codes_and_name.csv'.

In [35]:
airlines = pd.read_csv('airlines_5000.csv')

In [36]:
airlines.columns

Index(['Airline ID', 'Name', 'Alias', 'IATA', 'ICAO', 'Callsign', 'Country',
       'Active'],
      dtype='object')

In [37]:
airlines.head()

,Airline ID,Name,Alias,IATA,ICAO,Callsign,Country,Active
0,1,Private flight,\N,-,NaN,NaN,NaN,Y
1,2,135 Airways,\N,NaN,GNL,GENERAL,United States,N
2,3,1Time Airline,\N,1T,RNX,NEXTIME,South Africa,Y
3,4,2 Sqn No 1 Elementary Flying Training School,\N,NaN,WYT,NaN,United Kingdom,N
4,5,213 Flight Unit,\N,NaN,TFU,NaN,Russia,N

#### Merge on 'Description' from airlines dataframe and 'Airline' from flights table

In [51]:
flights_airlines = flights.merge(airlines, left_on='Airline', right_on='ICAO')

In [52]:
flights_airlines.head(1)

,Airline,Aircraft_ID,Aircraft_type,Origin_Airport_Code,Destination_Airport_Code,Departure_Time,Arrival_Time,Date,Origin_Airport_Type,Origin_Airport_Name,...,Destination_Airport_Latitude,Destination_Country_Name,Airline ID,Name,Alias,IATA,ICAO,Callsign,Country,Active
0,SFR,00893d,NaN,ALE,ABB,2019-01-14 06:57:19+00:00,2019-01-14 07:39:56+00:00,2019-01-14 00:00:00+00:00,small_airport,Alpine Casparis Municipal Airport,...,6.204167,Nigeria,4392,Safair,\N,FA,SFR,CARGO,South Africa,N

In [53]:
flights_airlines.shape

(4558, 26)

In [54]:
flights_airlines.dtypes

Airline                           object
Aircraft_ID                       object
Aircraft_type                     object
Origin_Airport_Code               object
Destination_Airport_Code          object
Departure_Time                    object
Arrival_Time                      object
Date                              object
Origin_Airport_Type               object
Origin_Airport_Name               object
Origin_Airport_Longitude         float64
Origin_Airport_Latitude          float64
Origin_Country_Name               object
Destination_Airport_Type          object
Destination_Airport_Name          object
Destination_Airport_Longitude    float64
Destination_Airport_Latitude     float64
Destination_Country_Name          object
Airline ID                         int64
Name                              object
Alias                             object
IATA                              object
ICAO                              object
Callsign                          object
Country                           object
Active                            object
dtype: object

In [55]:
flights_airlines.isnull().sum()

Airline                             0
Aircraft_ID                         0
Aircraft_type                    3023
Origin_Airport_Code                 0
Destination_Airport_Code            0
Departure_Time                      0
Arrival_Time                        0
Date                                0
Origin_Airport_Type                 0
Origin_Airport_Name                 0
Origin_Airport_Longitude            0
Origin_Airport_Latitude             0
Origin_Country_Name                 0
Destination_Airport_Type            0
Destination_Airport_Name            0
Destination_Airport_Longitude       0
Destination_Airport_Latitude        0
Destination_Country_Name            0
Airline ID                          0
Name                                0
Alias                             308
IATA                             3331
ICAO                                0
Callsign                          477
Country                             0
Active                              0
dtype: int64

#### Drop Code Column and rename Description to Airline Name

In [56]:
flights_airlines.drop(columns =['Alias', 'IATA', 'Active', 'Airline ID' ], axis=1, inplace=True)

In [57]:
flights_airlines.rename(columns = {'Airline' : 'Airline_Code'}, inplace=True)

In [58]:
flights_airlines.columns

Index(['Airline_Code', 'Aircraft_ID', 'Aircraft_type', 'Origin_Airport_Code',
       'Destination_Airport_Code', 'Departure_Time', 'Arrival_Time', 'Date',
       'Origin_Airport_Type', 'Origin_Airport_Name',
       'Origin_Airport_Longitude', 'Origin_Airport_Latitude',
       'Origin_Country_Name', 'Destination_Airport_Type',
       'Destination_Airport_Name', 'Destination_Airport_Longitude',
       'Destination_Airport_Latitude', 'Destination_Country_Name', 'Name',
       'ICAO', 'Callsign', 'Country'],
      dtype='object')

In [59]:
flights_airlines.shape

(4558, 22)

In [62]:
flights_airlines['Name'].nunique()

419

In [61]:
flights_airlines

,Airline_Code,Aircraft_ID,Aircraft_type,Origin_Airport_Code,Destination_Airport_Code,Departure_Time,Arrival_Time,Date,Origin_Airport_Type,Origin_Airport_Name,...,Origin_Country_Name,Destination_Airport_Type,Destination_Airport_Name,Destination_Airport_Longitude,Destination_Airport_Latitude,Destination_Country_Name,Name,ICAO,Callsign,Country
0,SFR,00893d,NaN,ALE,ABB,2019-01-14 06:57:19+00:00,2019-01-14 07:39:56+00:00,2019-01-14 00:00:00+00:00,small_airport,Alpine Casparis Municipal Airport,...,United States,medium_airport,Asaba International Airport,6.665278,6.204167,Nigeria,Safair,SFR,CARGO,South Africa
1,SFR,7c5be5,NaN,SBK,SBK,2019-01-04 03:48:16+00:00,2019-01-04 07:09:59+00:00,2019-01-04 00:00:00+00:00,medium_airport,Saint-Brieuc-Armor Airport,...,France,medium_airport,Saint-Brieuc-Armor Airport,-2.854440,48.537800,France,Safair,SFR,CARGO,South Africa
2,SFR,7c5be5,NaN,SBK,SBK,2019-01-04 21:02:10+00:00,2019-01-04 22:21:00+00:00,2019-01-04 00:00:00+00:00,medium_airport,Saint-Brieuc-Armor Airport,...,France,medium_airport,Saint-Brieuc-Armor Airport,-2.854440,48.537800,France,Safair,SFR,CARGO,South Africa
3,SFR,7c5be5,NaN,SBK,SBK,2019-01-05 21:48:47+00:00,2019-01-05 22:08:41+00:00,2019-01-05 00:00:00+00:00,medium_airport,Saint-Brieuc-Armor Airport,...,France,medium_airport,Saint-Brieuc-Armor Airport,-2.854440,48.537800,France,Safair,SFR,CARGO,South Africa
4,SFR,7c5be5,NaN,SBK,SBK,2019-01-06 03:42:26+00:00,2019-01-06 04:42:49+00:00,2019-01-06 00:00:00+00:00,medium_airport,Saint-Brieuc-Armor Airport,...,France,medium_airport,Saint-Brieuc-Armor Airport,-2.854440,48.537800,France,Safair,SFR,CARGO,South Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4553,ITW,7c2b42,NaN,SEN,SEN,2019-01-12 01:11:52+00:00,2019-01-12 02:24:24+00:00,2019-01-12 00:00:00+00:00,medium_airport,Southend Airport,...,United Kingdom,medium_airport,Southend Airport,0.695556,51.571400,United Kingdom,Inter Air,ITW,INTER WINGS,Bulgaria
4554,RTS,7c58ce,NaN,SEN,SEN,2019-01-17 05:03:42+00:00,2019-01-17 05:19:06+00:00,2019-01-17 00:00:00+00:00,medium_airport,Southend Airport,...,United Kingdom,medium_airport,Southend Airport,0.695556,51.571400,United Kingdom,Relief Transport Services,RTS,RELIEF,United Kingdom
4555,RTS,7c58ce,NaN,SEN,SEN,2019-01-19 05:20:53+00:00,2019-01-19 05:39:51+00:00,2019-01-19 00:00:00+00:00,medium_airport,Southend Airport,...,United Kingdom,medium_airport,Southend Airport,0.695556,51.571400,United Kingdom,Relief Transport Services,RTS,RELIEF,United Kingdom
4556,RTS,7c58ce,NaN,SEN,SEN,2019-01-28 06:13:23+00:00,2019-01-28 06:25:17+00:00,2019-01-28 00:00:00+00:00,medium_airport,Southend Airport,...,United Kingdom,medium_airport,Southend Airport,0.695556,51.571400,United Kingdom,Relief Transport Services,RTS,RELIEF,United Kingdom
4557,PNT,7c4dd7,NaN,SEN,SEN,2019-01-26 02:09:19+00:00,2019-01-26 02:20:17+00:00,2019-01-26 00:00:00+00:00,medium_airport,Southend Airport,...,United Kingdom,medium_airport,Southend Airport,0.695556,51.571400,United Kingdom,Balmoral Central Contracts,PNT,PORTNET,South Africa

## Check for  Nulls 

---

In [63]:
flights_airlines.isnull().sum()

Airline_Code                        0
Aircraft_ID                         0
Aircraft_type                    3023
Origin_Airport_Code                 0
Destination_Airport_Code            0
Departure_Time                      0
Arrival_Time                        0
Date                                0
Origin_Airport_Type                 0
Origin_Airport_Name                 0
Origin_Airport_Longitude            0
Origin_Airport_Latitude             0
Origin_Country_Name                 0
Destination_Airport_Type            0
Destination_Airport_Name            0
Destination_Airport_Longitude       0
Destination_Airport_Latitude        0
Destination_Country_Name            0
Name                                0
ICAO                                0
Callsign                          477
Country                             0
dtype: int64

## Convert Fields from Object to Datetime

---

In [64]:
flights_airlines['Date'] = pd.to_datetime(flights_airlines['Date'])

In [65]:
flights_airlines['Departure_Time'] = pd.to_datetime(flights_airlines['Departure_Time'])

In [66]:
flights_airlines['Arrival_Time'] = pd.to_datetime(flights_airlines['Arrival_Time'])

In [67]:
flights_airlines.dtypes

Airline_Code                                  object
Aircraft_ID                                   object
Aircraft_type                                 object
Origin_Airport_Code                           object
Destination_Airport_Code                      object
Departure_Time                   datetime64[ns, UTC]
Arrival_Time                     datetime64[ns, UTC]
Date                             datetime64[ns, UTC]
Origin_Airport_Type                           object
Origin_Airport_Name                           object
Origin_Airport_Longitude                     float64
Origin_Airport_Latitude                      float64
Origin_Country_Name                           object
Destination_Airport_Type                      object
Destination_Airport_Name                      object
Destination_Airport_Longitude                float64
Destination_Airport_Latitude                 float64
Destination_Country_Name                      object
Name                                          object
ICAO                                          object
Callsign                                      object
Country                                       object
dtype: object

## Reset index to that flights are listed in chronological order

---

In [68]:
flights_airlines.reset_index(drop=True, inplace=True)

In [69]:
flights_airlines.index.name='Row_ID'

## Save Dataframe as CSV

---

In [132]:
flights_airlines.to_csv('Processed Data/test_w_airline.csv')

# Create path to PostGresSQL. Only run one time.

---

In [ ]:
flightsdf.to_sql("flights", engine)